body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

.Buddy, h2 {
  margin: 0;
  transition: all 1250ms ease;
  box-sizing: border-box;
}

.status {
  display: inline-block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  transition: all 1250ms ease;
  margin-right: 4px;
  margin-bottom: 2px;
  border-radius: 50%;
  background-color: hsl(100, 50%, 50%);
}

.offline {
  background-color: hsl(0, 50%, 50%);
}

