body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
  background: #ccc;
}

.State {
  height: 50px;
  width: 50px;
  transition: all 500ms ease;
  border: 1px solid;
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  background: #fff;
}

